body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0; /* makes website reach the edges of page */
    display: flex;
    flex-direction: column;
    background-color: rebeccapurple;
}

/* 
* {
    border: green solid 1px;
} */

.header, .hero, .containerThree, .footer, .containerThree {
    padding: 0px 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.headerText {
    display: flex;
    padding: 0px;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
    padding: 0px;
    align-items: center;
}

.links li {
    padding: 0;
    list-style: none;
}

.links a {
    display: flex;
    justify-content: space-between;
    width: 130px;
    text-decoration: none;
    color: #F9FAF8;
    font-weight: 600;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .left-side, .hero .right-side {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 30px 0 75px 0;
}

.hero .right-side {
    max-width: 500px;
}

.hero .left-side h1, .hero .left-side p{
    margin: 0;
    padding: 0;
    color: #F9FAF8;
}

.hero .left-side h1{
    font-size: 48px;
}

.hero .left-side button{
    width: 80px;
    height: 25px;
    background-color: #3882F6;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: #F9FAF8;
}

.containerOne, .containerTwo {
    padding: 0px 350px;
}

.containerOne {
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    padding-bottom: 50px;
}

.containerOne .sectionTitle h3{
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 750;
}

.cardContainer, .containerTwo{
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.card img {
    border: #3882F6 solid 5px;
    border-radius: 15px;
}

.card p{
    text-align: center;
    font-size: 22px;
    margin: 15px 0 0 0;
    width: 200px;
}

.containerTwo {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}


.containerTwo .quote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin: 50px 0 0 0;
}

.containerTwo .author {
    font-size: 24px;
    color: #1F2937;
    text-align: end;
    font-weight: 750;
    margin: 15px 0 50px 0;
}

.containerThree {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #F9FAF8;
}

.containerThree .container {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    
}

.containerThree .left-side h3{
    color: #F9FAF8;
    margin: 30px 0 0 0;
}

.containerThree .left-side p{
    color: #F9FAF8;
    margin: 0 0 30px 0;
}

.containerThree .container button {
    align-self: center;
    width: 80px;
    height: 25px;
    background-color: #3882F6;
    border-radius: 5px;
    border: white solid 2px;
    font-weight: bold;
    color: #F9FAF8;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 10px
}

.footer .footer-text{
    color: #F9FAF8;
    background-color: #1F2937;
    text-align: center;
    padding: 25px;
}